In [1002]:
import sys

In [1003]:
print("what is up?")

what is up?

In [1004]:
name = 'Tom'
print(type(name))
if isinstance(name, str):
    print("name is string")
else:
    print('name is not string')

<class 'str'>
name is string

In [1005]:
intNumber = 5
print(type(intNumber))
if isinstance(intNumber, int):
    print("var is int")
else:
    print('var is not int')

<class 'int'>
var is int

In [1006]:
floatNumber = 5.2
print(type(floatNumber))
if isinstance(floatNumber, float):
    print("var is float")
else:
    print('var is not foat')

<class 'float'>
var is float

In [1007]:
try:
    print('string 1' + 'string 1')

    print('string 1' + 1)
except Exception as err:
    print(f"Unexpected {err=}, {type(err)=}")
finally:
    print("end of function")

string 1string 1
Unexpected err=TypeError('can only concatenate str (not "int") to str'), type(err)=<class 'TypeError'>
end of function

In [1008]:
numberList = [1,2,3,4,5]
floatList = [1.2, 3.2, 3.5]
myList = [numberList, floatList, [], 'string name', True, False]
print(myList)
print(len(myList))

[[1, 2, 3, 4, 5], [1.2, 3.2, 3.5], [], 'string name', True, False]
6

In [1009]:
mySet = {1, 1, 3, 4, 5}
print(type(mySet))
print("var is set" if isinstance(mySet,set) else "var is not set")
print(len(mySet))

<class 'set'>
var is set
4

In [1010]:
## The order of list is important
[1,2] == [2,1]

False

In [1011]:
## The order of set does not matter
{1,2} == {2,1}

True

In [1012]:
myTuple = (1,2,3)
print(type(myTuple))
print("var is tuple" if isinstance(myTuple, tuple) else "var is not tuple")

<class 'tuple'>
var is tuple

In [1013]:
## The order of Tuple does not matter
(1,2,3) == (3,2,1)

False

In [1014]:
## Tuples cannot be modified
testTuple = (1,2,3)
try:
    testTuple.append(6)
except Exception as err:
    print(f"Unexpected {err=} error occured {TypeError(err)=}")
finally:
    print("exit function")

Unexpected err=AttributeError("'tuple' object has no attribute 'append'") error occured TypeError(err)=TypeError(AttributeError("'tuple' object has no attribute 'append'"))
exit function

In [1015]:
myDictionary = { 'a' : 1, 'b':2}
print(myDictionary)
print(type(myDictionary))
print("var is dict" if isinstance(myDictionary, dict) else "var is not dict")

{'a': 1, 'b': 2}
<class 'dict'>
var is dict

In [1016]:
## operators
print(1 + 1)
print(1 - 1)
print(1 * 1)
print(2 / 1)
print(3 % 5)
print('string 1 ' * 4)
print(True == True)
print(4 < 5)
print(4 <= 5)
print(5 > 2)
print(5 >= 2)
print(True and True)
print(True or True)
print(not(True))
print(1 in [1,2,3,4])
print("cat " in "cat is here")
print("cat " not in "cat is here")
print("cat " in {"cat":1}.keys())

2
0
1
2.0
3
string 1 string 1 string 1 string 1
True
True
True
True
True
True
True
False
True
True
False
False

In [1017]:
status = False
if status:
    print("status is true")
else:
    print("false condition")

false condition

In [1018]:
a = [1,2,3,4]
for element in a:
    print(element)

1
2
3
4

In [1019]:
number = 10
while number > 0:
    print(number)
    number = number - 1

10
9
8
7
6
5
4
3
2
1

Function

In [1020]:
def viewList():
    return print(myList)

def addToMyList(input):
    myList.append(input)
    return viewList()

addToMyList(1)
addToMyList(None)

[[1, 2, 3, 4, 5], [1.2, 3.2, 3.5], [], 'string name', True, False, 1]
[[1, 2, 3, 4, 5], [1.2, 3.2, 3.5], [], 'string name', True, False, 1, None]

In [1021]:
class Animal:
    def __init__(self):
        self.name = 'Unknown'
        self.numOfLegs = 0

class Dog:
    def __init__(self,name):
        self.name = name
        self.attributes = {}
    
    def speak(self):
        print(f"{self.name=} + just barked")
    
    def addAttribute(self, key, value):
        self.attributes[key]=value
        return self.getAttributes()
    
    def getAttributes(self):
        return print(self.attributes)

dog_1 = Dog("tom")
dog_1.speak()
dog_1.addAttribute("numOfLegs",4)
dog_1.addAttribute("favorite food",["apple", "meat"])

self.name='tom' + just barked
{'numOfLegs': 4}
{'numOfLegs': 4, 'favorite food': ['apple', 'meat']}

Common Problems with Data Type

In [1022]:
print(4 + 4.0)
print(4 ** 4.0)
int(4 ** 4.0)
int(8.99)
int(round(8.99))
print(1.2 - 1.0)
print(round(1.2 - 1.19,2))
print(int('100'))

#convert base 16 to int
int('1ab',16)

8.0
256.0
0.19999999999999996
0.01
100

427

In [1023]:
# working with money
from decimal import Decimal, getcontext

getcontext().prec=2 #change the precision to 4 decimal
getcontext()
print(Decimal(1.344)/Decimal(3))
print(Decimal(' 01.344 ')/Decimal(int('3 ')))

0.45
0.45

In [1024]:
#working iwth boolean
print(bool(1))
print(bool(True))
print(bool(False))
print(bool("")) #empty string return false
print(bool(())) #empty tuple return false
print(bool([])) #empty list return false
print(bool({})) #empty dictionary return false
print(bool(None)) #None return false
print(bool(-1)) #negative number return True
print(bool(0)) #zero return True
print(bool(0.1))

True
True
False
False
False
False
False
False
True
False
True

In [1025]:
#working with string

#slicing
random_string = "my name is Tom"
print(random_string[0])
print(random_string[0:7])
print(random_string[5:])

#string formatting
print(f"my number is {4}")

#multiline string
my_long_string = '''
my string 
lst multiple lines,
the same as {4} lines
'''
print(my_long_string)

m
my name
me is Tom
my number is 4