In [2509]:
import sys

In [2510]:
print("what is up?")

what is up?

In [2511]:
name = 'Tom'
print(type(name))
if isinstance(name, str):
    print("name is string")
else:
    print('name is not string')

<class 'str'>
name is string

In [2512]:
intNumber = 5
print(type(intNumber))
if isinstance(intNumber, int):
    print("var is int")
else:
    print('var is not int')

<class 'int'>
var is int

In [2513]:
floatNumber = 5.2
print(type(floatNumber))
if isinstance(floatNumber, float):
    print("var is float")
else:
    print('var is not foat')

<class 'float'>
var is float

In [2514]:
try:
    print('string 1' + 'string 1')

    print('string 1' + 1)
except Exception as err:
    print(f"Unexpected {err=}, {type(err)=}")
finally:
    print("end of function")

string 1string 1
Unexpected err=TypeError('can only concatenate str (not "int") to str'), type(err)=<class 'TypeError'>
end of function

In [2515]:
numberList = [1,2,3,4,5]
floatList = [1.2, 3.2, 3.5]
myList = [numberList, floatList, [], 'string name', True, False]
print(myList)
print(len(myList))

[[1, 2, 3, 4, 5], [1.2, 3.2, 3.5], [], 'string name', True, False]
6

In [2516]:
mySet = {1, 1, 3, 4, 5}
print(type(mySet))
print("var is set" if isinstance(mySet,set) else "var is not set")
print(len(mySet))

<class 'set'>
var is set
4

In [2517]:
## The order of list is important
[1,2] == [2,1]

False

In [2518]:
## The order of set does not matter
{1,2} == {2,1}

True

In [2519]:
myTuple = (1,2,3)
print(type(myTuple))
print("var is tuple" if isinstance(myTuple, tuple) else "var is not tuple")

<class 'tuple'>
var is tuple

In [2520]:
## The order of Tuple does not matter
(1,2,3) == (3,2,1)

False

In [2521]:
## Tuples cannot be modified
testTuple = (1,2,3)
try:
    testTuple.append(6)
except Exception as err:
    print(f"Unexpected {err=} error occured {TypeError(err)=}")
finally:
    print("exit function")

Unexpected err=AttributeError("'tuple' object has no attribute 'append'") error occured TypeError(err)=TypeError(AttributeError("'tuple' object has no attribute 'append'"))
exit function

In [2522]:
myDictionary = { 'a' : 1, 'b':2}
print(myDictionary)
print(type(myDictionary))
print("var is dict" if isinstance(myDictionary, dict) else "var is not dict")

{'a': 1, 'b': 2}
<class 'dict'>
var is dict

In [2523]:
## operators
print(1 + 1)
print(1 - 1)
print(1 * 1)
print(2 / 1)
print(3 % 5)
print('string 1 ' * 4)
print(True == True)
print(4 < 5)
print(4 <= 5)
print(5 > 2)
print(5 >= 2)
print(True and True)
print(True or True)
print(not(True))
print(1 in [1,2,3,4])
print("cat " in "cat is here")
print("cat " not in "cat is here")
print("cat " in {"cat":1}.keys())

2
0
1
2.0
3
string 1 string 1 string 1 string 1
True
True
True
True
True
True
True
False
True
True
False
False

In [2524]:
status = False
if status:
    print("status is true")
else:
    print("false condition")

false condition

In [2525]:
a = [1,2,3,4]
for element in a:
    print(element)

1
2
3
4

In [2526]:
number = 10
while number > 0:
    print(number)
    number = number - 1

10
9
8
7
6
5
4
3
2
1

Function

In [2527]:
def viewList():
    return print(myList)

def addToMyList(input):
    myList.append(input)
    return viewList()

addToMyList(1)
addToMyList(None)

[[1, 2, 3, 4, 5], [1.2, 3.2, 3.5], [], 'string name', True, False, 1]
[[1, 2, 3, 4, 5], [1.2, 3.2, 3.5], [], 'string name', True, False, 1, None]

In [2528]:
class Animal:
    def __init__(self):
        self.name = 'Unknown'
        self.numOfLegs = 0

class Dog:
    def __init__(self,name):
        self.name = name
        self.attributes = {}
    
    def speak(self):
        print(f"{self.name=} + just barked")
    
    def addAttribute(self, key, value):
        self.attributes[key]=value
        return self.getAttributes()
    
    def getAttributes(self):
        return print(self.attributes)

dog_1 = Dog("tom")
dog_1.speak()
dog_1.addAttribute("numOfLegs",4)
dog_1.addAttribute("favorite food",["apple", "meat"])

self.name='tom' + just barked
{'numOfLegs': 4}
{'numOfLegs': 4, 'favorite food': ['apple', 'meat']}

Common Problems with Data Type

In [2529]:
print(4 + 4.0)
print(4 ** 4.0)
int(4 ** 4.0)
int(8.99)
int(round(8.99))
print(1.2 - 1.0)
print(round(1.2 - 1.19,2))
print(int('100'))

#convert base 16 to int
int('1ab',16)

8.0
256.0
0.19999999999999996
0.01
100

427

In [2530]:
# working with money
from decimal import Decimal, getcontext

getcontext().prec=2 #change the precision to 4 decimal
getcontext()
print(Decimal(1.344)/Decimal(3))
print(Decimal(' 01.344 ')/Decimal(int('3 ')))

0.45
0.45

In [2531]:
#working iwth boolean
print(bool(1))
print(bool(True))
print(bool(False))
print(bool("")) #empty string return false
print(bool(())) #empty tuple return false
print(bool([])) #empty list return false
print(bool({})) #empty dictionary return false
print(bool(None)) #None return false
print(bool(-1)) #negative number return True
print(bool(0)) #zero return True
print(bool(0.1))

True
True
False
False
False
False
False
False
True
False
True

In [2532]:
#working with string

#slicing
random_string = "my name is Tom"
print(random_string[0])
print(random_string[0:7])
print(random_string[5:])

#string formatting
print(f"my number is {4}")

#multiline string
my_long_string = '''
my string 
lst multiple lines,
the same as {4} lines
'''
print(my_long_string)

m
my name
me is Tom
my number is 4

my string
lst multiple lines,
the same as {4} lines

In [2533]:
#python byte object

#byte objects are a sequence of data

bytes(4)
new_bytes = bytes('abcd', 'utf-8')
new_bytes.decode('utf-8')

'abcd'

In [2534]:
#working with list
myList = list(range(10)) #convert range to List
print(myList[0:10:2]) #from index 0 to 9, return every second element
print(myList[::2]) #from begin to end, return evey second element
print(myList[::3]) #from begin to end, return evey third element
print(myList[::-2]) #from end to begin, return evey second element
myList.append(1)  #add item to a list
print(myList)
myList.pop()  #pop an item from list
print(myList)
duplicated_myList = myList.copy()
print(myList)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]
[0, 3, 6, 9]
[9, 7, 5, 3, 1]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2535]:
#working with Set

#remove duplicate from a list
list_with_duplicated = [1, 1, 2, 2]
new_set = set(list_with_duplicated)
list_without_duplicated = list(new_set)
print(list_without_duplicated)

print(list(set([1, 1, 2, 2])))


while len(new_set):
    print(new_set.pop())


#find elements in set
print("1 in set" if 1 in new_set else "1 not in set")

[1, 2]
[1, 2]
1
2
1 not in set

In [2536]:
#working with tuples

def returnMultipleValues():
    return 1, 2, 3

type(returnMultipleValues())

new_tuple = (1,2,3) #set new tuple

a, b, c = returnMultipleValues()

In [2537]:
from collections import defaultdict

#dict_animals = defaultdict(list) #the return as list
dict_animals = {"dog":"value for dog","cat":"value for cat"}
list_of_animals = list(dict_animals.keys())
list_of_values = list(dict_animals.values())
print(list_of_animals)
print(list_of_values)

#return None is the key is not in a dictionary
print(dict_animals.get("Dragon"))
print(dict_animals.get("dog"))
#dict_animals['fish'].append('value for fish')
print(dict_animals)

['dog', 'cat']
['value for dog', 'value for cat']
None
value for dog
{'dog': 'value for dog', 'cat': 'value for cat'}

In [2538]:
#list comprehension

import random

myList = list(range(10))
myList = [ random.randint(1,10) + element for element in myList]
print(myList)

#filter all element divisible by 10
myList = [element for element in myList if element % 2 == 0]
print(myList)

[10, 3, 10, 7, 10, 14, 12, 13, 17, 12]
[10, 10, 10, 14, 12, 12]

In [2539]:
#list comprehension with functions

myString = "My name is Thomas David."
list_myString = myString.split(" ")

def cleanWord(word):
    return word.replace('.','').lower()

list_myString = [cleanWord(element) for element in list_myString ]
print(list_myString)

['my', 'name', 'is', 'thomas', 'david']

In [2540]:
#Dictionary Comprehension

#Dictionary Comprehenshion is used to generate dictionaries from iterable structures

list_keys = ['a','b','c']
list_values = [1,2,3]
list_keys_values = []

#how do i write this for loop in List Comprehension?
for i in range(0,len(list_keys)-1):
    list_keys_values.append((list_keys[i],list_values[i]))
print(list_keys_values)

diction_keys_values = {element[0]:element[1] for element in list_keys_values}
print(diction_keys_values)

[('a', 1), ('b', 2)]
{'a': 1, 'b': 2}

In [2541]:
#diction and list comprehension


#turn list into dictionarys
list_x_y_z = [('a',(1,0,0)),('b',(2,1,0)),('c',(3,0,0))]
dict_coordinates = {key: value for key, value in list_x_y_z}
print(dict_coordinates)

list_x_y_x_2 = list(dict_coordinates.items())
print(list_x_y_x_2)


#turn dictionary into a list of dictionary
list_of_dictionary = [{'key':key,'value':value} for key, value in dict_coordinates.items()]
print(list_of_dictionary)

{'a': (1, 0, 0), 'b': (2, 1, 0), 'c': (3, 0, 0)}
[('a', (1, 0, 0)), ('b', (2, 1, 0)), ('c', (3, 0, 0))]
[{'key': 'a', 'value': (1, 0, 0)}, {'key': 'b', 'value': (2, 1, 0)}, {'key': 'c', 'value': (3, 0, 0)}]